*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  padding: 0px;
  margin: 0px;
}

header {
  background-color: #1FDA9A;
  width: 100%;
  margin: 0 auto;
  height: 200px;
  display: flex;
  align-items: center;
  h1 {
    width: 230px;
    margin: 0 auto;
    padding: 0;

  }
}

form {
    padding-top: 50px;
    width: 600px;
    margin: 0 auto;
    input {
      width: 500px;
      height: 50px;
      }
   }


#result {
  padding-top: 50px;
  width: 400px;
  margin: 0 auto;
}

.profilePhoto {
  width: 400px;
  margin: 0 auto;
}
